<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project">
        <activity
            android:name=".viewStores"
            android:exported="false" />
        <activity
            android:name=".StorePage"
            android:parentActivityName=".OwnerLanding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerLanding" />
        </activity>
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OwnerLanding"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".owner_add_product"
            android:parentActivityName=".OwnerLanding">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerLanding" />
        </activity>
        <activity
            android:name=".AccountCreationActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.login.AccountCreateActivity"
            android:exported="false"
            android:label="@string/title_activity_account_create" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>